@(in: Integer)

@main(in){
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Adicionar Aluno
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
                <li class="active">
                    Adicionar Aluno
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissable">
                <i class="fa fa-info-circle"></i>  Preencha todos os campos !
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="post" action="/addaluno">
                <div class="form-group">
                    <label>
                        Nome Completo:
                    </label>
                    <input class="form-control" type="text" name="nome" required/>
                    <label>
                        Idade:
                    </label>
                    <input class="form-control" type="text" name="idade" required/>
                    <label>
                        Endereço:
                    </label>
                    <input class="form-control" type="text" name="endereco" required/>
                    <label>
                        Telefone:
                    </label>
                    <input class="form-control" name="telefone" required/>
                    <label>
                        Sala:
                    </label>
                    <select class="form-control" name="salaid">
                        @for(sala <- SGDB.getListaAllSalas){
                            <option value="@sala.getId">@sala.getNome</option>
                        }
                    </select>
                </div>
                <center><button class="btn btn-primary" type="submit">Adicionar</button> </center>
            </form>

        </div>
        <div class="col-md-3"></div>
    </div>

}