@(in: Integer, aluno: Aluno)

@main(in){
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Editar Aluno
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
                <li class="active">
                    Editar Aluno
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissable">
                <i class="fa fa-info-circle"></i>  Corrija todos os campos !
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-6">
            <form method="post" action="/altaluno">
                <input type="hidden" name="alunoid" value="@aluno.getId">
                <div class="form-group">
                    <label>
                        Nome Completo:
                    </label>
                    <input value="@aluno.getNome" class="form-control" type="text" name="nome" required/>
                    <label>
                        Idade:
                    </label>
                    <input value="@aluno.getIdade" class="form-control" type="text" name="idade" required/>
                    <label>
                        Endereço:
                    </label>
                    <input value="@aluno.getEndereco" class="form-control" type="text" name="endereco" required/>
                    <label>
                        Telefone:
                    </label>
                    <input value="@aluno.getTelefone" class="form-control" name="telefone" required/>
                    <label>
                        Sala:
                    </label>
                    <select class="form-control" name="salaid">
                        @for(sala <- SGDB.getListaAllSalas){
                            @if(sala.getId.equals(aluno.getSalaid)){
                                <option value="@sala.getId" selected>@sala.getNome</option>
                            }else{
                                <option value="@sala.getId" >@sala.getNome</option>
                            }
                        }
                    </select>
                </div>
                <center><button class="btn btn-primary" type="submit">Alterar</button> </center>
            </form>

        </div>

        <div class="col-md-6">
            <div id="panelpresencaaluno" style="height: 300px;"></div>
            @for( in <- 1 to SGDB.getListaAllAulas.size()){
                <input class="pres" id="inp-@in" type="hidden" value=@SGDB.verificaSeAlunoPresenteNaAulaNaData(SGDB.getListaAllAulas.get(in-1), aluno)>
            }
        </div>

        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/jquery.flot.js"></script>
        <script src="assets/js/jquery.flot.time.js"></script>
        <script type="text/javascript">

        $(document ).ready(function(){

        var k = $('.pres').length;
        console.log("Aulas:"+ k);
        var d3 = [];
        var meses = [];
        for(var i=1;i<=k;i++){
            var p = $('#inp-'+i ).val();
            console.log("i:"+ p);
            d3.push([i,p]);
            meses.push(""+i);
        }
        // A null signifies separate line segments
        var data1 = [{label: "Aluno",  data: d3, points: { symbol: "circle", fillColor: "#058DC7" }, color: '#058DC7'}];
        $.plot($("#panelpresencaaluno"), data1, { xaxis : {
            tickDecimals: 0,
            axisLabel : 'Ultimas Aulas',
            axisLabelUseCanvas : true,
            axisLabelFontSizePixels : 12,
            axisLabelFontFamily : 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
            axisLabelPadding : 5
            },
            yaxis : {
            tickDecimals: 0,
            axisLabel : 'Presença',
            axisLabelUseCanvas : true,
            axisLabelFontSizePixels : 12,
            axisLabelFontFamily : 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
            axisLabelPadding : 5
            },
            series: {
            lines: { show: true },
            points: {
            radius: 3,
            show: true,
            fill: true
            }
            },
            grid: {
            hoverable: true,
            borderWidth: 1
            }
        }
        );

        });

        </script>


    </div>

}