@(in: Integer, tarefa: Tarefa)

@main(in){
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Visualizar Tarefa
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
                <li class="active">
                    Visualizar Tarefa
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissable">
                <i class="fa fa-info-circle"></i>  Veja os detalhes da tarefa selecionada!
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
                <div class="form-group">
                    <label>
                        Data Inicio:
                    </label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input value="@tarefa.getData" name="datahoje" type="text" class="form-control" disabled>
                    </div>
                    <label>
                        Data Final:
                    </label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input value="@tarefa.getDatafinal" name="datafinal" type="text" class="form-control" disabled>
                    </div>
                    <label>Valor:</label>
                    <input value="@tarefa.getValor" type="text" name="valor" class="form-control" disabled>
                    <label>
                        Comentário:
                    </label>
                    <textarea class="form-control" type="text" name="comentario" disabled>
                        @tarefa.getComentario
                    </textarea>
                    <!--<label>Prioridade:</label>
                    <select class="form-control" name="prioridade">
                        <option value="1">Baixo</option>
                        <option value="2">Normal</option>
                        <option value="3">Alto</option>
                    </select>-->
                    <label>Imagem:</label>
                    <img class="imag" src="@tarefa.getFoto" alt="image"/>
                </div>
        </div>
        <div class="col-md-3"></div>
    </div>
}